@charset "utf-8";
/* CSS Document */

body{background:#f9f8f8;}

.container
{
  
	max-width:960px;
	margin-left:auto;
	margin-right:auto;}
	
	header{
		background:#44a7da;
		color:#fff;
		font-size:2em;
		font-family:Georgia, "Times New Roman", Times, serif;
		margin-bottom:20px;
		}
		.headercontent
		{
			
			font-size:12px;
			line-height:20px;
			padding-top:30px;
			padding-bottom:15px;}
			
			
			.nextcontent
			{
				font-size:12px;
			line-height:20px;
			padding:10px;
			background:#d6d9d9;
			color:#141414;
			}
